{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        "transform-object-rest-spread",
        "transform-util-promisify"
    ],
    "sourceMaps": "inline"
}